.title {
    font-size: 18px;
    font-family: PingFang SC, PingFang SC-Bold;
    font-weight: 700;
    text-align: left;
    color: #1f2329;
    line-height: 20px;
    margin-top: 20px;

}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .linkLists {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        border-bottom:1px solid #dee0e3;
        width: 100%;
        .linkLogo {
            width: 42px;
            height: 42px;
            background-image: url('@/assets/icons/linkLogo.png');
            background-size: cover;
            
        }
        .linkContent {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            overflow: hidden;
            flex: 1;
            width: 100%;
            .linkName {
                font-size: 16px;
                font-family: PingFang SC, PingFang SC-Bold;
                font-weight: 700;
                color: #1f2329;
            }

            .linkStyle {
                margin: 10px 0;
                font-size: 12px;
                font-family: PingFang SC, PingFang SC-Regular;
                font-weight: 400;
                color: #5868f3;
            }
        }
        .controls{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
    
}
.classify {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .Mtitle {
        font-size: 16px;
        font-family: PingFang SC, PingFang SC-Bold;
        font-weight: 700;
        color: #1f2329;
    }

    .Input {
        margin-top: 12px;
        width: 100%;
    }
}

.Add {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .Mtitle {
        font-size: 16px;
        font-family: PingFang SC, PingFang SC-Bold;
        font-weight: 700;
        color: #1f2329;
    }

    .Input {
        margin-top: 12px;
        width: 100%;
    }
}
.vcerbalAddition {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    .back {
        background: #ffffff;
        border: 1px solid #dee0e3;
        border-radius: 5px;
        padding: 7px 32px;
        box-sizing: border-box;
    }

    .save {
        padding: 7px 32px;
        box-sizing: border-box;
        background: #5868f3;
        border-radius: 5px;
        margin-left: 10px;
        color: #ffffff;
    }
}

.uploadLink {
    margin-top: 20px;
    padding: 7px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #dee0e3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    cursor: pointer;
    .Mtitle {
        font-size: 16px;
        font-family: PingFang SC, PingFang SC-Bold;
        font-weight: 700;
        color: #5868f3;
        line-height: 18px;
        margin-right: 5px;
    }
}