.AddOrDelGroupMembers {
  width: 100%;
}

.el-dialog {
  width: 700px;
}

.el-divider--vertical {
  font-size: 500px;
}

.elDialogBody {
  .selectArea {
    height: 500px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #dee0e3;
    overflow: hidden;

    .listTitle {
      margin-bottom: 10px;
      height: 22px;
      font-size: 16px;
      font-family: PingFang SC, PingFang SC-Bold;
      font-weight: 700;
      text-align: left;
      color: #1f2329;
    }

    .source {
      flex: 1;
      box-sizing: border-box;
      padding: 20px 12px 0px 20px;

      .inputBar {
        margin-bottom: 20px;
      }

      .memberList {
        height: calc(100% - 30px - 60px);
        overflow: auto;
        box-sizing: border-box;
        padding-bottom: 15px;
        .el-checkbox-group {
          display: flex;
          flex-direction: column;
        }

        :deep .el-checkbox {
          height: 60px;
          .el-checkbox__input {
            line-height: 60px;
            vertical-align: top;
          }
          .member {
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;

            .avatar {
              width: 30px;
              height: 30px;
              margin-right: 10px;
            }

            .text {
              display: flex;
              flex-direction: column;

              font-size: 16px;
              font-family: PingFang SC, PingFang SC-Regular;
              font-weight: 400;
              text-align: left;

              .name {
                line-height: 22px;
                color: #1f2329;
                margin-bottom: 3px;
              }

              .userName {
                line-height: 20px;
                color: #707477;
              }
            }
          }
        }
      }
    }

    .target {
      flex: 1;
      box-sizing: border-box;
      padding: 20px 20px 0px 12px;

      .selectedTip {
        line-height: 40px;
        margin-bottom: 20px;
      }

      .memberList {
        height: calc(100% - 60px);
        overflow: auto;
        box-sizing: border-box;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;

        .member {
          flex-shrink: 0;
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .memberInfo {
            display: flex;
            align-items: center;
            .avatar {
              width: 30px;
              height: 30px;
              margin-right: 10px;
            }
            .text {
              display: flex;
              flex-direction: column;

              font-size: 16px;
              font-family: PingFang SC, PingFang SC-Regular;
              font-weight: 400;
              text-align: left;

              .name {
                line-height: 22px;
                color: #1f2329;
                margin-bottom: 3px;
              }

              .userName {
                line-height: 20px;
                color: #707477;
              }
            }
          }

          .cancel {
            width: 30px;
            .el-icon-close {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
