.contactList {
  max-height: calc(100vh - 100px - 90px - 55px);
  overflow-y: auto;
  .contactItem {
    display: flex;
    height: 84px;
    padding: 12px 20px;
    justify-content: space-between;
    cursor: pointer;
    .content {
      display: flex;
      align-items: center;
      .info {

        margin-left: 20px;
        .name {
          font-size: 18px;
          font-weight: 700;
          text-align: left;
          color: #1f2329;
          // 超出一行显示省略号
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 180px;

        }
        .lastMessage {
          text-align: left;
          color: #707477;
          // 超过一行显示省略号
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 180px;

        }
      }
    }
    .time {
      display: flex;
      align-items: center;
      text-align: right;
      color: #707477;
    }

    //悬浮效果
    &:hover {
      background: #f6f6f6;
    }
  }
  .active{
    background: #f6f6f6;
  }
}
